<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ user.nick_name }}的个人中心</title>
</head>
<body>
<!-- 如果form表单请求的路径是当前url路径,可以省略 action='user/modify' -->
<form method="post" action="/user/modify">
    用户名:<input id="nick_name" type="text" name="nick_name" value="{{ user.nick_name }}"><br/>
    密码:<input password="password" type="password" name="password" value="{{ user.auth_key }}"><br/>
    <button>保存修改</button>
</form>
<script>
    function $(id) {
         return document.getElementById(id);
     }

     // 设置表单提交函数
     document.forms[0].onsubmit = function(ev){
          if(! /\w{6,}/.test(this.passwd.value)){
             $('val_info').innerHTML = '口令是包含数字和字母的至少6位的字符串';
             return false
         }
     }
</script>
</body>
</html>